# Berbagi Wawasan #1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/baraaksayeth/python-data-analytics/blob/main/index.ipynb)

## Membaca File CSV, XML, TXT, XLSX

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)

### File CSV

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.csv')
df.head(n=15)

# sep = ','
# header = baris berapa yang mau dijadikan header
# names = [Kalo mau, merubah, nama, kolom]
# skiprows = baris berapa yang ingin di skip
# usecols = [Kolom, yang, mau, diambil]
# nrows = jumlah baris yang mau diambil

### File XLSX

In [ ]:
df_excel = pd.read_excel('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.xlsx', sheet_name=None)
df_excel['Worksheet'].head()

### File TXT

In [ ]:
df_txt = pd.read_csv('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.txt', sep='\t')
df_txt.head()

### File XML

In [ ]:
# Membaca file XML
df_xml = pd.read_xml('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.xml')
df_xml.head()

In [ ]:
# Membaca file xml yang bercabang

import xml.etree.ElementTree as ET
import requests

url = 'https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/data.xml'
response = requests.get(url)

root = ET.fromstring(response.content)

data_karyawan = []

for dept in root.findall('departemen'):
  for karyawan in dept.findall('karyawan'):
    id = karyawan.get('id')
    nama = karyawan.findtext('nama')
    jabatan = karyawan.findtext('jabatan')
    umur = karyawan.findtext('umur')
    kontak = karyawan.find('kontak')
    email = kontak.findtext('email')
    telepon = kontak.findtext('telepon')

    data_karyawan.append({
      'id': id,
      'nama': nama,
      'umur': umur,
      'jabatan': jabatan,
      'email': email,
      'telepon': telepon
    })

df_xml = pd.DataFrame(data_karyawan)
df_xml.head()

## Mengambil Data dari Database

### Instalasi library

In [ ]:
# Mengambil data dari database

!pip install pymysql sqlalchemy

### Membuat Engine Koneksi

In [ ]:
from sqlalchemy import create_engine

# mysql+pymsql://user:password@host:port/database

engine = create_engine('mysql+pymysql://barm7553_dev:DBSales#123!@203.175.9.121:3306/barm7553_sales')

# Untuk SQL Server bisa menggunakan

"""
engine = create_engine(
    "mssql+pyodbc://username:password@hostname:1433/database"
    "?driver=ODBC+Driver+17+for+SQL+Server"
)
"""

### Mengambil Data

In [ ]:
sql = """
SELECT B.Brand_ID, B.Brand_name, T3.Count_Brand
FROM Brands AS B
INNER JOIN(
	SELECT Brand_ID, COUNT(Brand_ID) AS Count_Brand
	FROM Products
	GROUP BY Brand_ID
	ORDER BY Count_Brand DESC
	LIMIT 3
) AS T3
ON B.Brand_ID = T3.Brand_ID
ORDER BY T3.Count_Brand DESC;
"""

df_sql = pd.read_sql(sql, engine)
df_sql.head()

   Brand_ID Brand_name  Count_Brand
0         9       Trek          135
1         1    Electra          118
2         8      Surly           25

## Basic Data Manipulation

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.csv')

### Sorting

In [ ]:
# Sorting kolom
df_sorted = df.sort_values(by='Date', ascending=False)

# Sorting multi columns
df_sorted = df.sort_values(by=['Date', 'CustomerID'], ascending=[False, False])
df_sorted.head()

# Gunakan parameter inplace untuk mengubah data asli
df.sort_values(by=['Date'], ascending=True, inplace=True)
df.head()

,InvoiceNo,Date,CustomerID,Gender,Age,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
667,INV0668,2025-05-15,CUST265,Male,47,Soap,Personal,4.0,9.95,20,31.84,Cash,Bandung
934,INV0935,2025-05-15,CUST119,Male,55,Soap,Personal,3.0,92.25,15,235.24,Cash,Surabaya
289,INV0290,2025-05-15,CUST009,Male,52,Notebook,Stationery,4.0,2.17,20,6.94,Credit Card,Surabaya
14,INV0015,2025-05-14,CUST284,Male,61,Sneakers,Footwear,1.0,68.49,20,54.79,E-Wallet,Surabaya
32,INV0033,2025-05-14,CUST261,Male,29,Toothpaste,Personal,5.0,7.73,5,36.72,E-Wallet,Jakarta

### Sorting dengan menggunakan lambda

In [ ]:
df_sorted = df.sort_values(by='Product', key=lambda x: x.str.len(), ascending=False)
df_sorted.head()

### Replace

In [ ]:
# Replace Data
df['Location'] = df['Location'].replace('Jakarta', 'DKI Jakarta')

# Mengganti nilai None dengan 0
df['Quantity'] = df['Quantity'].fillna(0)

df.head(15)

In [ ]:
# Replace banyak nilai sekaligus
df['PaymentMethod'] = df['PaymentMethod'].replace({
    'Credit Card': 'CC',
    'E-Wallet': 'EW'
})

In [ ]:
# Replace Menggunakan Regex
df['Category'] = df['Category'].replace(r'[^a-zA-Z0-9]', '', regex=True)

In [ ]:
# Replace Menggunakan Lambda

df['StatusDiscount'] = df['Discount'].apply(
  lambda x: 'Tanpa Diskon' if x == 0 else 'Menggunakan Diskon'
)

df.head()

### Drop Data

In [ ]:
# Hapus Kolom
df.drop('Age', axis=1, inplace=True)
df.head()

In [ ]:
# Hapus Baris
df.drop(3, axis=0, inplace=True)
df.head()

In [ ]:
# Cek data mana aja yang duplikat
dupes = df[df.duplicated(subset=['CustomerID', 'Product'])]
dupes.head()

In [ ]:
# Menghapus Duplikasi
df.drop_duplicates(inplace=True)

# Menghapus Duplikasi berdasarkan Kolom
df.drop_duplicates(subset=['Date', 'CustomerID',], inplace=True, keep='last')

### Filtering Data

In [ ]:
# Filtering

# Pelanggan yang mendapatkan diskon lebih dari 10% dan Total lebih dari 5
df[(df['Discount'] > 10) & (df['Total'] > 100)]

# Semua transaksi oleh pelanggan berusia di bawah 30 dan lokasi di Surabaya atau Bandung
df[ (df['Age'] < 30) & (df['Location'].isin(['Surabayar', 'Bandung'])) ]

# Mencari data produk yang mengandung sebuah kata
df[df['Product'].str.contains('Milk', case=False)]

# Mencari data produk yang mengandung lebih dari 10 karakter
df[ df['Product'].str.len() > 10 ]

# Mengambil TOP N (baris dengan nilai tertinggi)
df.nlargest(3, 'Total')

In [ ]:
# Mengambil pembelian yang total nya lebih dari rata-rata

mean_total = df['Total'].mean()
print(mean_total)

df[ df['Total'] > mean_total ]

In [ ]:
# Hitung total penjualan per tanggal

print(df.shape)

df['Date'] = pd.to_datetime(df['Date'])

penjualan_per_hari = df.groupby('Date')['Total'].sum().reset_index()

print(penjualan_per_hari)

### Joining Dataframes

In [ ]:
# Menggabungkan 2 dataset dengan kolom
df_customer = pd.read_csv('datasets/customer.csv')

df_customer.head()

In [ ]:
df_lengkap = pd.merge(df, df_customer, on='CustomerID', how='inner')
df_lengkap.head()

In [ ]:
transaksi_per_customer = df_lengkap.groupby('CustomerID').size().reset_index(name='TotalTransaksi')
transaksi_per_customer.head()

result = pd.merge(transaksi_per_customer, df_customer, on='CustomerID', how='inner')
result = result[['CustomerID', 'Name', 'TotalTransaksi']]
result.head()

In [ ]:
transaksi_per_customer = df_lengkap.groupby('CustomerID').agg(
  TotalTransaksi=('InvoiceNo', 'count'),
  TotalSpent=('Total', 'sum')
).reset_index()

transaksi_per_customer.head()

In [ ]:
# Membuat resume transaksi per tanggal
summary_per_tanggal = df_lengkap.groupby('Date').agg(
  TotalCustomer=('CustomerID', 'nunique'),
  TotalSpent=('Total', 'sum')
).reset_index()

summary_per_tanggal.head()