# Berbagi Wawasan #1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/baraaksayeth/python-data-analytics/blob/main/index.ipynb)

## Membaca File CSV, XML, TXT, XLSX

In [44]:
import pandas as pd

pd.set_option('display.max_columns', None)

### File CSV

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.csv')
df.head(n=15)

# sep = ','
# header = baris berapa yang mau dijadikan header
# names = [Kalo mau, merubah, nama, kolom]
# skiprows = baris berapa yang ingin di skip
# usecols = [Kolom, yang, mau, diambil]
# nrows = jumlah baris yang mau diambil

,InvoiceNo,Date,CustomerID,Gender,Age,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
0,INV0001,2024-12-19,CUST058,Male,65,Rice 5kg,Groceries,2.0,23.10,0,46.20,Credit Card,Yogyakarta
1,INV0002,2025-02-22,CUST045,Female,20,Shampoo,Personal,1.0,22.65,20,18.12,Credit Card,Jakarta
2,INV0003,2025-01-19,CUST288,Male,63,Soap,Personal,5.0,42.53,15,180.75,Credit Card,Surabaya
3,INV0004,2025-02-18,CUST004,Male,62,Milk 1L,Dairy,3.0,28.51,5,81.25,E-Wallet,Jakarta
4,INV0005,2025-03-25,CUST048,Female,24,Instant Noodles,Groceries,3.0,60.77,0,182.31,Credit Card,Medan
5,INV0006,2025-01-06,CUST275,Male,42,Toothpaste,Personal,5.0,30.02,20,120.08,E-Wallet,Yogyakarta
6,INV0007,2025-01-03,CUST099,Male,20,Soap,Personal,2.0,77.53,0,155.06,Cash,Jakarta
7,INV0008,2025-03-31,CUST195,Female,47,Soap,Personal,3.0,17.10,10,46.17,Cash,Surabaya
8,INV0009,2025-04-30,CUST037,Male,52,Sneakers,Footwear,2.0,17.18,15,29.21,E-Wallet,Yogyakarta
9,INV0010,2025-01-18,CUST113,Female,21,Jeans,Apparel,1.0,80.70,15,68.59,E-Wallet,Jakarta
10,INV0011,2025-04-04,CUST109,Female,31,Soap,Personal,4.0,40.17,15,136.58,Cash,Surabaya
11,INV0012,2025-01-23,CUST072,Male,65,Notebook,Stationery,5.0,27.01,20,108.04,E-Wallet,Yogyakarta
12,INV0013,2025-01-05,CUST205,Female,32,T-shirt,Apparel,NaN,49.86,0,249.30,Cash,Bandung
13,INV0014,2025-03-06,CUST082,Female,56,Toothpaste,Personal,4.0,38.78,15,131.85,Credit Card,Surabaya
14,INV0015,2025-05-14,CUST284,Male,61,Sneakers,Footwear,1.0,68.49,20,54.79,E-Wallet,Surabaya

### File XLSX

In [14]:
df_excel = pd.read_excel('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.xlsx', sheet_name=None)
df_excel['Worksheet'].head()

,InvoiceNo,Date,CustomerID,Gender,Age,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
0,INV0001,2024-12-19,CUST058,Male,65,Rice 5kg,Groceries,2,23.10,0,46.20,Credit Card,Yogyakarta
1,INV0002,2025-02-22,CUST045,Female,20,Shampoo,Personal,1,22.65,20,18.12,Credit Card,Jakarta
2,INV0003,2025-01-19,CUST288,Male,63,Soap,Personal,5,42.53,15,180.75,Credit Card,Surabaya
3,INV0004,2025-02-18,CUST004,Male,62,Milk 1L,Dairy,3,28.51,5,81.25,E-Wallet,Jakarta
4,INV0005,2025-03-25,CUST048,Female,24,Instant Noodles,Groceries,3,60.77,0,182.31,Credit Card,Medan

### File TXT

In [15]:
df_txt = pd.read_csv('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.txt', sep='\t')
df_txt.head()

,InvoiceNo,Date,CustomerID,Gender,Age,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
0,INV0001,2024-12-19,CUST058,Male,65,Rice 5kg,Groceries,2,23.10,0,46.20,Credit Card,Yogyakarta
1,INV0002,2025-02-22,CUST045,Female,20,Shampoo,Personal,1,22.65,20,18.12,Credit Card,Jakarta
2,INV0003,2025-01-19,CUST288,Male,63,Soap,Personal,5,42.53,15,180.75,Credit Card,Surabaya
3,INV0004,2025-02-18,CUST004,Male,62,Milk 1L,Dairy,3,28.51,5,81.25,E-Wallet,Jakarta
4,INV0005,2025-03-25,CUST048,Female,24,Instant Noodles,Groceries,3,60.77,0,182.31,Credit Card,Medan

### File XML

In [16]:
# Membaca file XML
df_xml = pd.read_xml('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.xml')
df_xml.head()

,InvoiceNo,Date,CustomerID,Gender,Age,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
0,INV0001,2024-12-19,CUST058,Male,65,Rice 5kg,Groceries,2,23.10,0,46.20,Credit Card,Yogyakarta
1,INV0002,2025-02-22,CUST045,Female,20,Shampoo,Personal,1,22.65,20,18.12,Credit Card,Jakarta
2,INV0003,2025-01-19,CUST288,Male,63,Soap,Personal,5,42.53,15,180.75,Credit Card,Surabaya
3,INV0004,2025-02-18,CUST004,Male,62,Milk 1L,Dairy,3,28.51,5,81.25,E-Wallet,Jakarta
4,INV0005,2025-03-25,CUST048,Female,24,Instant Noodles,Groceries,3,60.77,0,182.31,Credit Card,Medan

In [17]:
# Membaca file xml yang bercabang

import xml.etree.ElementTree as ET
import requests

url = 'https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/data.xml'
response = requests.get(url)

root = ET.fromstring(response.content)

data_karyawan = []

for dept in root.findall('departemen'):
  for karyawan in dept.findall('karyawan'):
    id = karyawan.get('id')
    nama = karyawan.findtext('nama')
    jabatan = karyawan.findtext('jabatan')
    umur = karyawan.findtext('umur')
    kontak = karyawan.find('kontak')
    email = kontak.findtext('email')
    telepon = kontak.findtext('telepon')

    data_karyawan.append({
      'id': id,
      'nama': nama,
      'umur': umur,
      'jabatan': jabatan,
      'email': email,
      'telepon': telepon
    })

df_xml = pd.DataFrame(data_karyawan)
df_xml.head()

  id   nama umur     jabatan                   email       telepon
0  1   Andi   30  Programmer   andi@majumundur.co.id   08123456789
1  2   Budi   28    Sysadmin   budi@majumundur.co.id   08987654321
2  3  Citra   32  HR Manager  citra@majumundur.co.id  082233445566

## Mengambil Data dari Database

### Instalasi library

In [18]:
# Mengambil data dari database

# Install pyodbc untuk SQL Server

!pip install pymysql sqlalchemy

Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
    45.3/45.3 kB 2.8 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

### Membuat Engine Koneksi

In [19]:
from sqlalchemy import create_engine

# mysql+pymsql://user:password@host:port/database

engine = create_engine('mysql+pymysql://barm7553_dev:DBSales#123!@203.175.9.121:3306/barm7553_sales')

# Untuk SQL Server bisa menggunakan

"""
engine = create_engine(
    "mssql+pyodbc://username:password@hostname:1433/database"
    "?driver=ODBC+Driver+17+for+SQL+Server"
)
"""

'\nengine = create_engine(\n    "mssql+pyodbc://username:password@hostname:1433/database"\n    "?driver=ODBC+Driver+17+for+SQL+Server"\n)\n'

### Mengambil Data

In [20]:
sql = """
SELECT B.Brand_ID, B.Brand_name, T3.Count_Brand
FROM Brands AS B
INNER JOIN(
	SELECT Brand_ID, COUNT(Brand_ID) AS Count_Brand
	FROM Products
	GROUP BY Brand_ID
	ORDER BY Count_Brand DESC
	LIMIT 3
) AS T3
ON B.Brand_ID = T3.Brand_ID
ORDER BY T3.Count_Brand DESC;
"""

df_sql = pd.read_sql(sql, engine)
df_sql.head()

   Brand_ID Brand_name  Count_Brand
0         9       Trek          135
1         1    Electra          118
2         8      Surly           25

## Basic Data Manipulation

In [38]:
df = pd.read_csv('https://raw.githubusercontent.com/baraaksayeth/python-data-analytics/main/datasets/retail.csv')

### Mengambil Kolom Tertentu

In [40]:
# : di paramater pertama artinya semua baris
df_light = df.loc[:, ['InvoiceNo', 'Date', 'Total']]
df_light

    InvoiceNo        Date   Total
0     INV0001  2024-12-19   46.20
1     INV0002  2025-02-22   18.12
2     INV0003  2025-01-19  180.75
3     INV0004  2025-02-18   81.25
4     INV0005  2025-03-25  182.31
..        ...         ...     ...
995   INV0996  2025-01-05   43.13
996   INV0997  2025-02-13  270.20
997   INV0998  2025-02-14   42.72
998   INV0999  2025-02-26  247.32
999   INV1000  2025-02-28   90.02

[1000 rows x 3 columns]

### Menghapus Column

In [42]:
# Multiple Column
df_without_age = df.drop(columns=['Age', 'Discount'])
df_without_age

# Permanen

,InvoiceNo,Date,CustomerID,Gender,Product,Category,Quantity,Price,Total,PaymentMethod,Location
0,INV0001,2024-12-19,CUST058,Male,Rice 5kg,Groceries,2.0,23.10,46.20,Credit Card,Yogyakarta
1,INV0002,2025-02-22,CUST045,Female,Shampoo,Personal,1.0,22.65,18.12,Credit Card,Jakarta
2,INV0003,2025-01-19,CUST288,Male,Soap,Personal,5.0,42.53,180.75,Credit Card,Surabaya
3,INV0004,2025-02-18,CUST004,Male,Milk 1L,Dairy,3.0,28.51,81.25,E-Wallet,Jakarta
4,INV0005,2025-03-25,CUST048,Female,Instant Noodles,Groceries,3.0,60.77,182.31,Credit Card,Medan
...,...,...,...,...,...,...,...,...,...,...,...
995,INV0996,2025-01-05,CUST108,Male,Soap,Personal,4.0,11.98,43.13,Credit Card,Yogyakarta
996,INV0997,2025-02-13,CUST253,Male,Jeans,Apparel,5.0,67.55,270.20,Credit Card,Bandung
997,INV0998,2025-02-14,CUST034,Male,Toothpaste,Personal,2.0,26.70,42.72,Cash,Yogyakarta
998,INV0999,2025-02-26,CUST141,Male,Shampoo,Personal,5.0,61.83,247.32,E-Wallet,Jakarta
999,INV1000,2025-02-28,CUST219,Male,Milk 1L,Dairy,4.0,28.13,90.02,E-Wallet,Medan

### Sorting

In [43]:
# Sorting kolom
df_sorted = df.sort_values(by='Date', ascending=False)

# Sorting multi columns
df_sorted = df.sort_values(by=['Date', 'CustomerID'], ascending=[False, False])
# df_sorted.head()

# Gunakan parameter inplace untuk mengubah data asli
df.sort_values(by=['Date'], ascending=False, inplace=True)
df.head()

,InvoiceNo,Date,CustomerID,Gender,Age,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
667,INV0668,2025-05-15,CUST265,Male,47,Soap,Personal,4.0,9.95,20,31.84,Cash,Bandung
289,INV0290,2025-05-15,CUST009,Male,52,Notebook,Stationery,4.0,2.17,20,6.94,Credit Card,Surabaya
934,INV0935,2025-05-15,CUST119,Male,55,Soap,Personal,3.0,92.25,15,235.24,Cash,Surabaya
439,INV0440,2025-05-14,CUST130,Male,47,Rice 5kg,Groceries,5.0,82.61,15,351.09,Credit Card,Jakarta
462,INV0463,2025-05-14,CUST215,Male,50,Sneakers,Footwear,5.0,12.66,0,63.30,Cash,Medan

### Sorting dengan menggunakan lambda

In [24]:
df_sorted = df.sort_values(by='Product', key=lambda x: x.str.len(), ascending=False)
df_sorted.head()

,InvoiceNo,Date,CustomerID,Gender,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
762,INV0763,2025-02-26,CUST033,Male,Instant Noodles,Groceries,4.0,33.10,20,105.92,Credit Card,Bandung
176,INV0177,2024-11-14,CUST027,Female,Instant Noodles,Groceries,1.0,56.24,15,47.80,E-Wallet,Surabaya
48,INV0049,2024-11-21,CUST143,Male,Instant Noodles,Groceries,5.0,40.57,20,162.28,E-Wallet,Jakarta
122,INV0123,2025-05-09,CUST081,Male,Instant Noodles,Groceries,5.0,30.62,15,130.13,Credit Card,Surabaya
520,INV0521,2024-11-22,CUST163,Female,Instant Noodles,Groceries,5.0,66.28,20,265.12,Cash,Yogyakarta

### Sorting dengan nsmallest & nlargest

In [25]:
df.nlargest(3, 'Total')
# sama dengan ORDER BY Total DESC LIMIT 3

# df.nsmallest(5, columns=['Total', 'Quantity'])

,InvoiceNo,Date,CustomerID,Gender,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
648,INV0649,2024-12-20,CUST150,Female,Milk 1L,Dairy,5.0,97.68,0,488.40,E-Wallet,Medan
138,INV0139,2025-01-10,CUST233,Male,Jeans,Apparel,5.0,97.14,0,485.70,E-Wallet,Bandung
172,INV0173,2025-02-04,CUST047,Female,Pen,Stationery,5.0,95.47,0,477.35,E-Wallet,Yogyakarta

### Group By

In [26]:
# df.groupby('Category')['Total'].sum()

# Group by + sorting
# df.groupby('Category')['Total'].sum().reset_index().sort_values('Total', ascending=False, ignore_index=True)

# Group by multiple column
df.groupby(['Location', 'Category'])['Total'].sum()

Location    Category
Bandung     Apparel       4843.33
            Dairy         4240.01
            Footwear      2260.99
            Groceries     5115.57
            Personal      6398.78
            Stationery    3276.96
Jakarta     Apparel       4566.14
            Dairy         5093.27
            Footwear      2118.27
            Groceries     4504.32
            Personal      7847.47
            Stationery    3580.60
Medan       Apparel       5242.35
            Dairy         5569.82
            Footwear      1230.67
            Groceries     6693.29
            Personal      6424.47
            Stationery    4323.15
Surabaya    Apparel       4871.20
            Dairy         4158.45
            Footwear      1929.36
            Groceries     3324.38
            Personal      5972.56
            Stationery    4744.48
Yogyakarta  Apparel       4894.47
            Dairy         3010.62
            Footwear      3528.61
            Groceries     3741.91
            Personal      7915.27
            Stationery    5414.80
Name: Total, dtype: float64

### Group By dengan Multiple Aggregasi

In [27]:
summary = df.groupby('Category').agg(
    TotalPenjualan=('Total', 'sum'),
    JumlahTransaksi=('InvoiceNo', 'count'),
    RataRataTransaksi=('Total', 'mean'),
    TotalBarang=('Quantity', 'sum')
).reset_index()

summary.head()

    Category  TotalPenjualan  JumlahTransaksi  RataRataTransaksi  TotalBarang
0    Apparel        24417.49              178         137.176910        548.0
1      Dairy        22072.17              170         129.836294        504.0
2   Footwear        11067.90               79         140.100000        241.0
3  Groceries        23379.47              177         132.087401        531.0
4   Personal        34558.55              246         140.481911        779.0

### Replace

In [28]:
# Replace Data
df['Location'] = df['Location'].replace('Jakarta', 'DKI Jakarta')

# Mengganti nilai None dengan 0
df['Quantity'] = df['Quantity'].fillna(0)

df.head(15)

,InvoiceNo,Date,CustomerID,Gender,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location
667,INV0668,2025-05-15,CUST265,Male,Soap,Personal,4.0,9.95,20,31.84,Cash,Bandung
289,INV0290,2025-05-15,CUST009,Male,Notebook,Stationery,4.0,2.17,20,6.94,Credit Card,Surabaya
934,INV0935,2025-05-15,CUST119,Male,Soap,Personal,3.0,92.25,15,235.24,Cash,Surabaya
439,INV0440,2025-05-14,CUST130,Male,Rice 5kg,Groceries,5.0,82.61,15,351.09,Credit Card,DKI Jakarta
462,INV0463,2025-05-14,CUST215,Male,Sneakers,Footwear,5.0,12.66,0,63.30,Cash,Medan
14,INV0015,2025-05-14,CUST284,Male,Sneakers,Footwear,1.0,68.49,20,54.79,E-Wallet,Surabaya
161,INV0162,2025-05-14,CUST071,Female,Instant Noodles,Groceries,1.0,1.77,15,1.50,Cash,Bandung
32,INV0033,2025-05-14,CUST261,Male,Toothpaste,Personal,5.0,7.73,5,36.72,E-Wallet,DKI Jakarta
133,INV0134,2025-05-14,CUST114,Male,Cheese,Dairy,3.0,65.27,0,195.81,Cash,DKI Jakarta
799,INV0800,2025-05-13,CUST235,Female,T-shirt,Apparel,3.0,18.00,10,48.60,Cash,Medan
102,INV0103,2025-05-13,CUST211,Female,Soap,Personal,4.0,81.54,20,260.93,Cash,Medan
510,INV0511,2025-05-13,CUST286,Male,Jeans,Apparel,3.0,41.36,15,105.47,Credit Card,Medan
554,INV0555,2025-05-13,CUST223,Male,Rice 5kg,Groceries,2.0,37.71,20,60.34,Cash,Medan
303,INV0304,2025-05-13,CUST047,Male,Cheese,Dairy,3.0,76.37,0,229.11,Cash,DKI Jakarta
547,INV0548,2025-05-12,CUST279,Female,Jeans,Apparel,1.0,71.21,0,71.21,Credit Card,Yogyakarta

In [29]:
# Replace banyak nilai sekaligus
df['PaymentMethod'] = df['PaymentMethod'].replace({
    'Credit Card': 'CC',
    'E-Wallet': 'EW'
})

In [30]:
# Replace Menggunakan Regex
df['Category'] = df['Category'].replace(r'[^a-zA-Z0-9]', '', regex=True)

In [31]:
# Replace Menggunakan Lambda

df['StatusDiscount'] = df['Discount'].apply(
  lambda x: 'Tanpa Diskon' if x == 0 else 'Menggunakan Diskon'
)

df.head()

,InvoiceNo,Date,CustomerID,Gender,Product,Category,Quantity,Price,Discount,Total,PaymentMethod,Location,StatusDiscount
667,INV0668,2025-05-15,CUST265,Male,Soap,Personal,4.0,9.95,20,31.84,Cash,Bandung,Menggunakan Diskon
289,INV0290,2025-05-15,CUST009,Male,Notebook,Stationery,4.0,2.17,20,6.94,CC,Surabaya,Menggunakan Diskon
934,INV0935,2025-05-15,CUST119,Male,Soap,Personal,3.0,92.25,15,235.24,Cash,Surabaya,Menggunakan Diskon
439,INV0440,2025-05-14,CUST130,Male,Rice 5kg,Groceries,5.0,82.61,15,351.09,CC,DKI Jakarta,Menggunakan Diskon
462,INV0463,2025-05-14,CUST215,Male,Sneakers,Footwear,5.0,12.66,0,63.30,Cash,Medan,Tanpa Diskon

### Drop Data

In [32]:
# Hapus Kolom
df.drop('Age', axis=1, inplace=True)
df.head()

KeyError: "['Age'] not found in axis"

In [ ]:
# Hapus Baris
df.drop(3, axis=0, inplace=True)
df.head()

In [ ]:
# Cek data mana aja yang duplikat
dupes = df[df.duplicated(subset=['CustomerID', 'Product'])]
dupes.head()

In [ ]:
# Menghapus Duplikasi
df.drop_duplicates(inplace=True)

# Menghapus Duplikasi berdasarkan Kolom
df.drop_duplicates(subset=['Date', 'CustomerID',], inplace=True, keep='last')

### Filtering Data

In [ ]:
# Filtering

# Pelanggan yang mendapatkan diskon lebih dari 10% dan Total lebih dari 5
df[(df['Discount'] > 10) & (df['Total'] > 100)]

# Semua transaksi oleh pelanggan berusia di bawah 30 dan lokasi di Surabaya atau Bandung
df[ (df['Age'] < 30) & (df['Location'].isin(['Surabayar', 'Bandung'])) ]

# Mencari data produk yang mengandung sebuah kata
df[df['Product'].str.contains('Milk', case=False)]

# Mencari data produk yang mengandung lebih dari 10 karakter
df[ df['Product'].str.len() > 10 ]

In [ ]:
# Mengambil pembelian yang total nya lebih dari rata-rata

mean_total = df['Total'].mean()
print(mean_total)

df[ df['Total'] > mean_total ]

In [ ]:
# Hitung total penjualan per tanggal

print(df.shape)

df['Date'] = pd.to_datetime(df['Date'])

penjualan_per_hari = df.groupby('Date')['Total'].sum().reset_index()

print(penjualan_per_hari)

### Joining Dataframes

In [ ]:
# Menggabungkan 2 dataset dengan kolom
df_customer = pd.read_csv('datasets/customer.csv')

df_customer.head()

In [ ]:
df_lengkap = pd.merge(df, df_customer, on='CustomerID', how='inner')
df_lengkap.head()

In [ ]:
transaksi_per_customer = df_lengkap.groupby('CustomerID').size().reset_index(name='TotalTransaksi')
transaksi_per_customer.head()

result = pd.merge(transaksi_per_customer, df_customer, on='CustomerID', how='inner')
result = result[['CustomerID', 'Name', 'TotalTransaksi']]
result.head()

In [ ]:
transaksi_per_customer = df_lengkap.groupby('CustomerID').agg(
  TotalTransaksi=('InvoiceNo', 'count'),
  TotalSpent=('Total', 'sum')
).reset_index()

transaksi_per_customer.head()

In [ ]:
# Membuat resume transaksi per tanggal
summary_per_tanggal = df_lengkap.groupby('Date').agg(
  TotalCustomer=('CustomerID', 'nunique'),
  TotalSpent=('Total', 'sum')
).reset_index()

summary_per_tanggal.head()